[Unit]
Description=Run the proposed migration script

[Service]
Type=oneshot
User=ubuntu-archive
Environment="PATH={{ archive_scripts_location }}:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/snap/bin"
ExecStart=/bin/bash run-pm-notest
